{% load static %}
<section class="tariff-section" id="tariffs">
    <div class="tariffs indent">
        <h2 class="section-title">Наши тарифы</h2>
        <ul class="tariff__list">
            {% for tariff in tariffs %}
            <li class="tariff__card" id="{% cycle 'card__one' 'card__two' 'card__three' 'card__four' 'card__five' 'card__six' %}">
                <div class="background__card">
                    <p class="background__text">GFive GFive    GFive GFive   GFive GFive GFi ve GFive GFive  GFive GFive</p>
                </div>
                <div class="tarrif__content">
                    <p class="tariff__title">Тариф: {{ tariff.name }}</p>
                    <p class="play__time">
                        {% if tariff.tariff_type == 'fixed' %}Игровое время{% else %}Цена за минуту{% endif %}
                    </p>
                    <p class="play__hours">
                        {% if tariff.tariff_type == 'fixed' %}
                            {{ tariff.duration_display }}
                        {% else %}
                            {{ tariff.price }}₽/мин
                        {% endif %}
                    </p>
                    <p class="tariff__subtitle">
                        {{ tariff.description|default:"Выгодный тариф" }}
                    </p>
                    <p class="play__price">
                        {% if tariff.tariff_type == 'fixed' %}
                            {{ tariff.price }} руб
                        {% else %}
                            {{ tariff.price }} руб / мин
                        {% endif %}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<script src="{% static 'js/tariffs.js' %}"></script>